# COMMON SETTINGS

# Make sure we use the same timezone everywhere
TZ="Europe/Helsinki"

# Password for the blackboard user for Postgres
DB_PASSWORD=blackboard

# DEVELOPMENT ENVIRONMENT SETTINGS

# Node.js (backend) port, defaults to 8080 if not defined
NODE_PORT_DEV=8080

# Port used by the React app in development
VITE_PORT=4000

# PRODUCTION ENVIRONMENT SETTINGS

# Node.js (backend) port, defaults to 8080 if not defined
NODE_PORT_PROD=8080

# nginx port, required for image building (port 80 is redirected here)
NGINX_PORT=443
# hostname to connect from outside, required for image building
NGINX_HOST=blackboard.yourdomain.com

# !! certificate-related settings and server secret need to be stored as Docker secrets in prod !!